/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.AcquiringProgramData;
import ru.softlab.efr.services.insurance.model.rest.ErrorModel;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class AcquiringProgramClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public AcquiringProgramClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать программу для покупки в ЛК
     * POST /insurance-service/v2/dict/acquiring/program
     *
     * @param request Данные для создания программы для покупки в ЛК (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Сохраненная программа
     * @throws RestClientException в случае неудачи
    */
    public AcquiringProgramData createProgram(AcquiringProgramData request, long timeout) throws RestClientException {
        return createProgram(request).get(timeout);
    }

    /**
     * Создать программу для покупки в ЛК асинхронно
     * POST /insurance-service/v2/dict/acquiring/program
     *
     * @param request Данные для создания программы для покупки в ЛК (required)
     * @return Сохраненная программа
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<AcquiringProgramData> createProgram(AcquiringProgramData request) throws RestClientException {
        return new ClientRestResult<>(createProgramInternal(request), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<AcquiringProgramData>> createProgramInternal(AcquiringProgramData request) throws RestClientException {
        if (request == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "request", "createProgram"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/dict/acquiring/program"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(request);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<AcquiringProgramData>(){});
    }

    /**
     * Получить программу для покупки в ЛК по идентификатору
     * GET /insurance-service/v2/dict/acquiring/program/{id}
     *
     * @param id Идентификатор программы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные программы для покупки в ЛК
     * @throws RestClientException в случае неудачи
    */
    public AcquiringProgramData getProgram(Long id, long timeout) throws RestClientException {
        return getProgram(id).get(timeout);
    }

    /**
     * Получить программу для покупки в ЛК по идентификатору асинхронно
     * GET /insurance-service/v2/dict/acquiring/program/{id}
     *
     * @param id Идентификатор программы (required)
     * @return Данные программы для покупки в ЛК
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<AcquiringProgramData> getProgram(Long id) throws RestClientException {
        return new ClientRestResult<>(getProgramInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<AcquiringProgramData>> getProgramInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getProgram"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/dict/acquiring/program/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<AcquiringProgramData>(){});
    }

    /**
     * Получить список программ для покупки в ЛК
     * GET /insurance-service/v2/dict/acquiring/program
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод программ
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<AcquiringProgramData> getProgramList(Pageable pageable, long timeout) throws RestClientException {
        return getProgramList(pageable).get(timeout);
    }

    /**
     * Получить список программ для покупки в ЛК асинхронно
     * GET /insurance-service/v2/dict/acquiring/program
     *
     * @return Постраничный вывод программ
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<AcquiringProgramData>> getProgramList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(getProgramListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<AcquiringProgramData>>> getProgramListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/dict/acquiring/program"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<AcquiringProgramData>>(){});
    }

    /**
     * Обновить программу для покупки в ЛК
     * PUT /insurance-service/v2/dict/acquiring/program/{id}
     *
     * @param id Идентификатор программы для покупки в ЛК (required)
     * @param request Данные для создания программы для покупки в ЛК (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Сохраненная программа
     * @throws RestClientException в случае неудачи
    */
    public AcquiringProgramData updateProgram(Long id, AcquiringProgramData request, long timeout) throws RestClientException {
        return updateProgram(id, request).get(timeout);
    }

    /**
     * Обновить программу для покупки в ЛК асинхронно
     * PUT /insurance-service/v2/dict/acquiring/program/{id}
     *
     * @param id Идентификатор программы для покупки в ЛК (required)
     * @param request Данные для создания программы для покупки в ЛК (required)
     * @return Сохраненная программа
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<AcquiringProgramData> updateProgram(Long id, AcquiringProgramData request) throws RestClientException {
        return new ClientRestResult<>(updateProgramInternal(id, request), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<AcquiringProgramData>> updateProgramInternal(Long id, AcquiringProgramData request) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "updateProgram"));
        if (request == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "request", "updateProgram"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/dict/acquiring/program/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(request);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<AcquiringProgramData>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
