/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.AvailProgramKindData;
import ru.softlab.efr.services.insurance.model.rest.AvailProgramKindListRs;
import ru.softlab.efr.services.insurance.model.rest.CreateAvailProgramKindResponse;
import ru.softlab.efr.services.insurance.model.rest.ErrorModel;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class AvailProgramKindClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public AvailProgramKindClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать запись в справочнике доступности видов программ страхования.
     * POST /insurance-service/v1/availprogramkind/dict
     *
     * @param createAvailProgramKindRq Запрос создания записи в справочнике доступности видов программ страховаия. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Идентификатор созданной записи в справочнике.
     * @throws RestClientException в случае неудачи
    */
    public CreateAvailProgramKindResponse createAvailProgramKind(AvailProgramKindData createAvailProgramKindRq, long timeout) throws RestClientException {
        return createAvailProgramKind(createAvailProgramKindRq).get(timeout);
    }

    /**
     * Создать запись в справочнике доступности видов программ страхования. асинхронно
     * POST /insurance-service/v1/availprogramkind/dict
     *
     * @param createAvailProgramKindRq Запрос создания записи в справочнике доступности видов программ страховаия. (required)
     * @return Идентификатор созданной записи в справочнике.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<CreateAvailProgramKindResponse> createAvailProgramKind(AvailProgramKindData createAvailProgramKindRq) throws RestClientException {
        return new ClientRestResult<>(createAvailProgramKindInternal(createAvailProgramKindRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<CreateAvailProgramKindResponse>> createAvailProgramKindInternal(AvailProgramKindData createAvailProgramKindRq) throws RestClientException {
        if (createAvailProgramKindRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "createAvailProgramKindRq", "createAvailProgramKind"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/availprogramkind/dict"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(createAvailProgramKindRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<CreateAvailProgramKindResponse>(){});
    }

    /**
     * Удалить сущность доступности вида программы страхования.
     * DELETE /insurance-service/v1/availprogramkind/dict/{id}
     *
     * @param id Идентификатор сущности доступности вида программы страхования. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteAvailProgramKind(Long id, long timeout) throws RestClientException {
        return deleteAvailProgramKind(id).get(timeout);
    }

    /**
     * Удалить сущность доступности вида программы страхования. асинхронно
     * DELETE /insurance-service/v1/availprogramkind/dict/{id}
     *
     * @param id Идентификатор сущности доступности вида программы страхования. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteAvailProgramKind(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteAvailProgramKindInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteAvailProgramKindInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteAvailProgramKind"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/availprogramkind/dict/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить сущность доступности вида программы страхования по ID.
     * GET /insurance-service/v1/availprogramkind/dict/{id}
     *
     * @param id Идентификатор сущности доступности вида программы страхования. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные сущности доступности вида программы страхования.
     * @throws RestClientException в случае неудачи
    */
    public AvailProgramKindData getAvailProgramKindById(Long id, long timeout) throws RestClientException {
        return getAvailProgramKindById(id).get(timeout);
    }

    /**
     * Получить сущность доступности вида программы страхования по ID. асинхронно
     * GET /insurance-service/v1/availprogramkind/dict/{id}
     *
     * @param id Идентификатор сущности доступности вида программы страхования. (required)
     * @return Данные сущности доступности вида программы страхования.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<AvailProgramKindData> getAvailProgramKindById(Long id) throws RestClientException {
        return new ClientRestResult<>(getAvailProgramKindByIdInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<AvailProgramKindData>> getAvailProgramKindByIdInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getAvailProgramKindById"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/availprogramkind/dict/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<AvailProgramKindData>(){});
    }

    /**
     * Получить список программ страхования
     * GET /insurance-service/v1/availprogramkind/dict
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<AvailProgramKindData> getAvailProgramKindDictList(Pageable pageable, long timeout) throws RestClientException {
        return getAvailProgramKindDictList(pageable).get(timeout);
    }

    /**
     * Получить список программ страхования асинхронно
     * GET /insurance-service/v1/availprogramkind/dict
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<AvailProgramKindData>> getAvailProgramKindDictList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(getAvailProgramKindDictListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<AvailProgramKindData>>> getAvailProgramKindDictListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/availprogramkind/dict"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<AvailProgramKindData>>(){});
    }

    /**
     * Получить список доступных видов программ страхования
     * GET /insurance-service/v1/availprogramkind
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public AvailProgramKindListRs getAvailProgramKinds(long timeout) throws RestClientException {
        return getAvailProgramKinds().get(timeout);
    }

    /**
     * Получить список доступных видов программ страхования асинхронно
     * GET /insurance-service/v1/availprogramkind
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<AvailProgramKindListRs> getAvailProgramKinds() throws RestClientException {
        return new ClientRestResult<>(getAvailProgramKindsInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<AvailProgramKindListRs>> getAvailProgramKindsInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/availprogramkind"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<AvailProgramKindListRs>(){});
    }

    /**
     * Обновить сущность доступности вида программы страхования.
     * PUT /insurance-service/v1/availprogramkind/dict/{id}
     *
     * @param id Идентификатор сущности доступности вида программы страхования. (required)
     * @param updateProgramRequest Запрос обновления сущности доступности вида программы страхования. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void updateAvailProgramKind(Long id, AvailProgramKindData updateProgramRequest, long timeout) throws RestClientException {
        return updateAvailProgramKind(id, updateProgramRequest).get(timeout);
    }

    /**
     * Обновить сущность доступности вида программы страхования. асинхронно
     * PUT /insurance-service/v1/availprogramkind/dict/{id}
     *
     * @param id Идентификатор сущности доступности вида программы страхования. (required)
     * @param updateProgramRequest Запрос обновления сущности доступности вида программы страхования. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> updateAvailProgramKind(Long id, AvailProgramKindData updateProgramRequest) throws RestClientException {
        return new ClientRestResult<>(updateAvailProgramKindInternal(id, updateProgramRequest), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> updateAvailProgramKindInternal(Long id, AvailProgramKindData updateProgramRequest) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "updateAvailProgramKind"));
        if (updateProgramRequest == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateProgramRequest", "updateAvailProgramKind"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/availprogramkind/dict/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(updateProgramRequest);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
