/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.InlineResponse200;
import org.springframework.core.io.Resource;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class DbImageClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public DbImageClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Сохранить изображение в БД
     * POST /insurance-service/v2/image
     *
     * @param content Изображение (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public InlineResponse200 addImage(Resource content, long timeout) throws RestClientException {
        return addImage(content).get(timeout);
    }

    /**
     * Сохранить изображение в БД асинхронно
     * POST /insurance-service/v2/image
     *
     * @param content Изображение (optional)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<InlineResponse200> addImage(Resource content) throws RestClientException {
        return new ClientRestResult<>(addImageInternal(content), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<InlineResponse200>> addImageInternal(Resource content) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/image"));

        MultiValueMap<String, Object> multipartMap = new LinkedMultiValueMap<>();
        if (content != null){
           multipartMap.add("content", content);
        } 
        

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(multipartMap);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<InlineResponse200>(){});
    }

    /**
     * Удалить изображение в БД
     * DELETE /insurance-service/v2/image/{id}
     *
     * @param id Идентификатор изображения (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteImage(Long id, long timeout) throws RestClientException {
        return deleteImage(id).get(timeout);
    }

    /**
     * Удалить изображение в БД асинхронно
     * DELETE /insurance-service/v2/image/{id}
     *
     * @param id Идентификатор изображения (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteImage(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteImageInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteImageInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteImage"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/image/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить масcив байтов изображения сохраненного в БД
     * GET /insurance-service/public/v2/image/{id}
     *
     * @param id Идентификатор изображения в БД (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return поток байтов файла
     * @throws RestClientException в случае неудачи
    */
    public byte[] getImage(Long id, long timeout) throws RestClientException {
        return getImage(id).get(timeout);
    }

    /**
     * Получить масcив байтов изображения сохраненного в БД асинхронно
     * GET /insurance-service/public/v2/image/{id}
     *
     * @param id Идентификатор изображения в БД (required)
     * @return поток байтов файла
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<byte[]> getImage(Long id) throws RestClientException {
        return new ClientRestResult<>(getImageInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<byte[]>> getImageInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getImage"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/public/v2/image/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<byte[]>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
