/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.CreateOrderResponse;
import ru.softlab.efr.services.insurance.model.rest.ErrorModel;
import ru.softlab.efr.services.insurance.model.rest.OrderData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class OrderClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public OrderClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать заказ на оплату договора страхования
     * POST /insurance-service/public/v2/order/create
     *
     * @param createOrder Данные для создания заказа (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public CreateOrderResponse createOrder(OrderData createOrder, long timeout) throws RestClientException {
        return createOrder(createOrder).get(timeout);
    }

    /**
     * Создать заказ на оплату договора страхования асинхронно
     * POST /insurance-service/public/v2/order/create
     *
     * @param createOrder Данные для создания заказа (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<CreateOrderResponse> createOrder(OrderData createOrder) throws RestClientException {
        return new ClientRestResult<>(createOrderInternal(createOrder), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<CreateOrderResponse>> createOrderInternal(OrderData createOrder) throws RestClientException {
        if (createOrder == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "createOrder", "createOrder"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/public/v2/order/create"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(createOrder);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<CreateOrderResponse>(){});
    }

    /**
     * Получить заказ на оплату договора страхования
     * GET /insurance-service/public/v2/order/{id}
     *
     * @param id Идентификатор экземпляра заказа на оплату договора страхования (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Заказ на оплату договора страхования
     * @throws RestClientException в случае неудачи
    */
    public OrderData getOrder(Long id, long timeout) throws RestClientException {
        return getOrder(id).get(timeout);
    }

    /**
     * Получить заказ на оплату договора страхования асинхронно
     * GET /insurance-service/public/v2/order/{id}
     *
     * @param id Идентификатор экземпляра заказа на оплату договора страхования (required)
     * @return Заказ на оплату договора страхования
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<OrderData> getOrder(Long id) throws RestClientException {
        return new ClientRestResult<>(getOrderInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<OrderData>> getOrderInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getOrder"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/public/v2/order/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<OrderData>(){});
    }

    /**
     * Получить заказ на оплату договора страхования
     * GET /insurance-service/public/v2/order
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод заказов на оплату
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<OrderData> getOrderList(Pageable pageable, long timeout) throws RestClientException {
        return getOrderList(pageable).get(timeout);
    }

    /**
     * Получить заказ на оплату договора страхования асинхронно
     * GET /insurance-service/public/v2/order
     *
     * @return Постраничный вывод заказов на оплату
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<OrderData>> getOrderList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(getOrderListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<OrderData>>> getOrderListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/public/v2/order"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<OrderData>>(){});
    }

    /**
     * Обновить заказ на оплату договора страхования
     * PUT /insurance-service/public/v2/order/{id}
     *
     * @param id Идентификатор экземпляра заказа на оплату договора страхования (required)
     * @param orderData Данные для обновления заказа на оплату договора страхования (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void updateOrder(Long id, OrderData orderData, long timeout) throws RestClientException {
        return updateOrder(id, orderData).get(timeout);
    }

    /**
     * Обновить заказ на оплату договора страхования асинхронно
     * PUT /insurance-service/public/v2/order/{id}
     *
     * @param id Идентификатор экземпляра заказа на оплату договора страхования (required)
     * @param orderData Данные для обновления заказа на оплату договора страхования (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> updateOrder(Long id, OrderData orderData) throws RestClientException {
        return new ClientRestResult<>(updateOrderInternal(id, orderData), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> updateOrderInternal(Long id, OrderData orderData) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "updateOrder"));
        if (orderData == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "orderData", "updateOrder"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/public/v2/order/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(orderData);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
