/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.ErrorModel;
import ru.softlab.efr.services.insurance.model.rest.RedemptionData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class RedemptionClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public RedemptionClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать запись в справочнике выкупных коэффициентов.
     * POST /insurance-service/v1/dict/redemption
     *
     * @param updateRedemptionRq Запрос создания записи в справочнике выкупных коэффициентов. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные записи выкупных коэффициентов.
     * @throws RestClientException в случае неудачи
    */
    public RedemptionData createRedemption(RedemptionData updateRedemptionRq, long timeout) throws RestClientException {
        return createRedemption(updateRedemptionRq).get(timeout);
    }

    /**
     * Создать запись в справочнике выкупных коэффициентов. асинхронно
     * POST /insurance-service/v1/dict/redemption
     *
     * @param updateRedemptionRq Запрос создания записи в справочнике выкупных коэффициентов. (required)
     * @return Данные записи выкупных коэффициентов.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RedemptionData> createRedemption(RedemptionData updateRedemptionRq) throws RestClientException {
        return new ClientRestResult<>(createRedemptionInternal(updateRedemptionRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RedemptionData>> createRedemptionInternal(RedemptionData updateRedemptionRq) throws RestClientException {
        if (updateRedemptionRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateRedemptionRq", "createRedemption"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/redemption"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(updateRedemptionRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RedemptionData>(){});
    }

    /**
     * Удалить запись справочника выкупных коэффициентов
     * DELETE /insurance-service/v1/dict/redemption/{id}
     *
     * @param id Идентификатор записи в справочнике выкупных коэффициентов. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteRedemption(Long id, long timeout) throws RestClientException {
        return deleteRedemption(id).get(timeout);
    }

    /**
     * Удалить запись справочника выкупных коэффициентов асинхронно
     * DELETE /insurance-service/v1/dict/redemption/{id}
     *
     * @param id Идентификатор записи в справочнике выкупных коэффициентов. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteRedemption(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteRedemptionInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteRedemptionInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteRedemption"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/redemption/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить запись из справочника выкупных коэффициентов.
     * GET /insurance-service/v1/dict/redemption/{id}
     *
     * @param id Идентификатор записи в справочнике выкупных коэффициентов. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные записи выкупных коэффициентов.
     * @throws RestClientException в случае неудачи
    */
    public RedemptionData getRedemption(Long id, long timeout) throws RestClientException {
        return getRedemption(id).get(timeout);
    }

    /**
     * Получить запись из справочника выкупных коэффициентов. асинхронно
     * GET /insurance-service/v1/dict/redemption/{id}
     *
     * @param id Идентификатор записи в справочнике выкупных коэффициентов. (required)
     * @return Данные записи выкупных коэффициентов.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RedemptionData> getRedemption(Long id) throws RestClientException {
        return new ClientRestResult<>(getRedemptionInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RedemptionData>> getRedemptionInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getRedemption"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/redemption/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RedemptionData>(){});
    }

    /**
     * Получить список справочника выкупных коэффициентов.
     * GET /insurance-service/v1/dict/redemption
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод данных справочника
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<RedemptionData> getRedemptionList(Pageable pageable, long timeout) throws RestClientException {
        return getRedemptionList(pageable).get(timeout);
    }

    /**
     * Получить список справочника выкупных коэффициентов. асинхронно
     * GET /insurance-service/v1/dict/redemption
     *
     * @return Постраничный вывод данных справочника
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<RedemptionData>> getRedemptionList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(getRedemptionListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<RedemptionData>>> getRedemptionListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/redemption"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<RedemptionData>>(){});
    }

    /**
     * Обновить запись в справочнике выкупных коэффициентов.
     * PUT /insurance-service/v1/dict/redemption/{id}
     *
     * @param id Идентификатор записи в справочнике выкупных коэффициентов. (required)
     * @param updateRedemptionRq Запрос обновления записи выкупных коэффициентов. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные записи выкупных коэффициентов.
     * @throws RestClientException в случае неудачи
    */
    public RedemptionData putRedemption(Long id, RedemptionData updateRedemptionRq, long timeout) throws RestClientException {
        return putRedemption(id, updateRedemptionRq).get(timeout);
    }

    /**
     * Обновить запись в справочнике выкупных коэффициентов. асинхронно
     * PUT /insurance-service/v1/dict/redemption/{id}
     *
     * @param id Идентификатор записи в справочнике выкупных коэффициентов. (required)
     * @param updateRedemptionRq Запрос обновления записи выкупных коэффициентов. (required)
     * @return Данные записи выкупных коэффициентов.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RedemptionData> putRedemption(Long id, RedemptionData updateRedemptionRq) throws RestClientException {
        return new ClientRestResult<>(putRedemptionInternal(id, updateRedemptionRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RedemptionData>> putRedemptionInternal(Long id, RedemptionData updateRedemptionRq) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "putRedemption"));
        if (updateRedemptionRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateRedemptionRq", "putRedemption"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/redemption/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(updateRedemptionRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RedemptionData>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
