/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.AvailableTopicFormat;
import ru.softlab.efr.services.insurance.model.rest.AvailableTopics;
import ru.softlab.efr.services.insurance.model.rest.BaseTopicsModel;
import ru.softlab.efr.services.insurance.model.rest.ErrorModel;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class RequestsTopicsClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public RequestsTopicsClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Получить доступные темы
     * GET /insurance-service/v2/client-request-topic
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public AvailableTopics available(long timeout) throws RestClientException {
        return available().get(timeout);
    }

    /**
     * Получить доступные темы асинхронно
     * GET /insurance-service/v2/client-request-topic
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<AvailableTopics> available() throws RestClientException {
        return new ClientRestResult<>(availableInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<AvailableTopics>> availableInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/client-request-topic"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<AvailableTopics>(){});
    }

    /**
     * Получить тему по идентификатору
     * GET /insurance-service/v2/client-request-topic/{topicId}
     *
     * @param topicId Идентификатор темы. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public BaseTopicsModel availableById(Long topicId, long timeout) throws RestClientException {
        return availableById(topicId).get(timeout);
    }

    /**
     * Получить тему по идентификатору асинхронно
     * GET /insurance-service/v2/client-request-topic/{topicId}
     *
     * @param topicId Идентификатор темы. (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<BaseTopicsModel> availableById(Long topicId) throws RestClientException {
        return new ClientRestResult<>(availableByIdInternal(topicId), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<BaseTopicsModel>> availableByIdInternal(Long topicId) throws RestClientException {
        if (topicId == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "topicId", "availableById"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/client-request-topic/{topicId}")).variable("topicId", topicId);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<BaseTopicsModel>(){});
    }

    /**
     * Получить доступные темы с пагинацией
     * GET /insurance-service/v2/admin-request-topic
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<AvailableTopicFormat> availablePaginated(Pageable pageable, long timeout) throws RestClientException {
        return availablePaginated(pageable).get(timeout);
    }

    /**
     * Получить доступные темы с пагинацией асинхронно
     * GET /insurance-service/v2/admin-request-topic
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<AvailableTopicFormat>> availablePaginated(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(availablePaginatedInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<AvailableTopicFormat>>> availablePaginatedInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/admin-request-topic"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<AvailableTopicFormat>>(){});
    }

    /**
     * Добавление либо редактирование темы
     * POST /insurance-service/v2/client-request-topic
     *
     * @param updateTopicRequest Запрос обновления либо добавления экземпляра темы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public String availableSet(BaseTopicsModel updateTopicRequest, long timeout) throws RestClientException {
        return availableSet(updateTopicRequest).get(timeout);
    }

    /**
     * Добавление либо редактирование темы асинхронно
     * POST /insurance-service/v2/client-request-topic
     *
     * @param updateTopicRequest Запрос обновления либо добавления экземпляра темы (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<String> availableSet(BaseTopicsModel updateTopicRequest) throws RestClientException {
        return new ClientRestResult<>(availableSetInternal(updateTopicRequest), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<String>> availableSetInternal(BaseTopicsModel updateTopicRequest) throws RestClientException {
        if (updateTopicRequest == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateTopicRequest", "availableSet"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v2/client-request-topic"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(updateTopicRequest);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<String>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
