/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.ErrorModel;
import ru.softlab.efr.services.insurance.model.rest.RequiredDocumentData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class RequiredDocumentsClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public RequiredDocumentsClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать запись в справочнике обязательных документов.
     * POST /insurance-service/v1/dict/requiredDocuments
     *
     * @param createRequiredDocumentRq Запрос создания записи в справочнике обязательных документов. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void createRequiredDocument(RequiredDocumentData createRequiredDocumentRq, long timeout) throws RestClientException {
        return createRequiredDocument(createRequiredDocumentRq).get(timeout);
    }

    /**
     * Создать запись в справочнике обязательных документов. асинхронно
     * POST /insurance-service/v1/dict/requiredDocuments
     *
     * @param createRequiredDocumentRq Запрос создания записи в справочнике обязательных документов. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> createRequiredDocument(RequiredDocumentData createRequiredDocumentRq) throws RestClientException {
        return new ClientRestResult<>(createRequiredDocumentInternal(createRequiredDocumentRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> createRequiredDocumentInternal(RequiredDocumentData createRequiredDocumentRq) throws RestClientException {
        if (createRequiredDocumentRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "createRequiredDocumentRq", "createRequiredDocument"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/requiredDocuments"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(createRequiredDocumentRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Удалить запись в справочнике обязательных документов.
     * DELETE /insurance-service/v1/dict/requiredDocuments/{id}
     *
     * @param id Идентификатор записи обязательного документа. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteRequiredDocuments(Long id, long timeout) throws RestClientException {
        return deleteRequiredDocuments(id).get(timeout);
    }

    /**
     * Удалить запись в справочнике обязательных документов. асинхронно
     * DELETE /insurance-service/v1/dict/requiredDocuments/{id}
     *
     * @param id Идентификатор записи обязательного документа. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteRequiredDocuments(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteRequiredDocumentsInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteRequiredDocumentsInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteRequiredDocuments"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/requiredDocuments/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить запись из справочника обязательных документов.
     * GET /insurance-service/v1/dict/requiredDocuments/{id}
     *
     * @param id Идентификатор записи в справочнике обязательных документов. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные записи обязательного документа.
     * @throws RestClientException в случае неудачи
    */
    public RequiredDocumentData getRequiredDocument(Long id, long timeout) throws RestClientException {
        return getRequiredDocument(id).get(timeout);
    }

    /**
     * Получить запись из справочника обязательных документов. асинхронно
     * GET /insurance-service/v1/dict/requiredDocuments/{id}
     *
     * @param id Идентификатор записи в справочнике обязательных документов. (required)
     * @return Данные записи обязательного документа.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RequiredDocumentData> getRequiredDocument(Long id) throws RestClientException {
        return new ClientRestResult<>(getRequiredDocumentInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RequiredDocumentData>> getRequiredDocumentInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getRequiredDocument"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/requiredDocuments/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RequiredDocumentData>(){});
    }

    /**
     * Обновить запись в справочнике обязательных документов.
     * PUT /insurance-service/v1/dict/requiredDocuments/{id}
     *
     * @param id Идентификатор записи в справочнике обязательных документов. (required)
     * @param updateRequiredDocumentsRq Запрос обновления записи обязательного документа. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void putRequiredDocument(Long id, RequiredDocumentData updateRequiredDocumentsRq, long timeout) throws RestClientException {
        return putRequiredDocument(id, updateRequiredDocumentsRq).get(timeout);
    }

    /**
     * Обновить запись в справочнике обязательных документов. асинхронно
     * PUT /insurance-service/v1/dict/requiredDocuments/{id}
     *
     * @param id Идентификатор записи в справочнике обязательных документов. (required)
     * @param updateRequiredDocumentsRq Запрос обновления записи обязательного документа. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> putRequiredDocument(Long id, RequiredDocumentData updateRequiredDocumentsRq) throws RestClientException {
        return new ClientRestResult<>(putRequiredDocumentInternal(id, updateRequiredDocumentsRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> putRequiredDocumentInternal(Long id, RequiredDocumentData updateRequiredDocumentsRq) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "putRequiredDocument"));
        if (updateRequiredDocumentsRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateRequiredDocumentsRq", "putRequiredDocument"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/requiredDocuments/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(updateRequiredDocumentsRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить список всех записей справочника обязательных документов.
     * GET /insurance-service/v1/dict/requiredDocuments
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод данных справочника
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<RequiredDocumentData> requiredDocuments(Pageable pageable, long timeout) throws RestClientException {
        return requiredDocuments(pageable).get(timeout);
    }

    /**
     * Получить список всех записей справочника обязательных документов. асинхронно
     * GET /insurance-service/v1/dict/requiredDocuments
     *
     * @return Постраничный вывод данных справочника
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<RequiredDocumentData>> requiredDocuments(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(requiredDocumentsInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<RequiredDocumentData>>> requiredDocumentsInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/requiredDocuments"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<RequiredDocumentData>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
