/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.ErrorModel;
import ru.softlab.efr.services.insurance.model.rest.RiskData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class RisksClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public RisksClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать запись в справочнике рисков.
     * POST /insurance-service/v1/dict/risks
     *
     * @param createRiskRq Запрос создания записи в справочнике рисков. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void createRisk(RiskData createRiskRq, long timeout) throws RestClientException {
        return createRisk(createRiskRq).get(timeout);
    }

    /**
     * Создать запись в справочнике рисков. асинхронно
     * POST /insurance-service/v1/dict/risks
     *
     * @param createRiskRq Запрос создания записи в справочнике рисков. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> createRisk(RiskData createRiskRq) throws RestClientException {
        return new ClientRestResult<>(createRiskInternal(createRiskRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> createRiskInternal(RiskData createRiskRq) throws RestClientException {
        if (createRiskRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "createRiskRq", "createRisk"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/risks"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(createRiskRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить запись из справочника рисков.
     * GET /insurance-service/v1/dict/risks/{id}
     *
     * @param id Идентификатор записи в справочнике рисков. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные записи риска.
     * @throws RestClientException в случае неудачи
    */
    public RiskData getRisk(Long id, long timeout) throws RestClientException {
        return getRisk(id).get(timeout);
    }

    /**
     * Получить запись из справочника рисков. асинхронно
     * GET /insurance-service/v1/dict/risks/{id}
     *
     * @param id Идентификатор записи в справочнике рисков. (required)
     * @return Данные записи риска.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RiskData> getRisk(Long id) throws RestClientException {
        return new ClientRestResult<>(getRiskInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RiskData>> getRiskInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getRisk"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/risks/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RiskData>(){});
    }

    /**
     * Обновить запись в справочнике рисков.
     * PUT /insurance-service/v1/dict/risks/{id}
     *
     * @param id Идентификатор записи в справочнике рисков. (required)
     * @param updateRiskRq Запрос обновления записи риска. (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void putRisk(Long id, RiskData updateRiskRq, long timeout) throws RestClientException {
        return putRisk(id, updateRiskRq).get(timeout);
    }

    /**
     * Обновить запись в справочнике рисков. асинхронно
     * PUT /insurance-service/v1/dict/risks/{id}
     *
     * @param id Идентификатор записи в справочнике рисков. (required)
     * @param updateRiskRq Запрос обновления записи риска. (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> putRisk(Long id, RiskData updateRiskRq) throws RestClientException {
        return new ClientRestResult<>(putRiskInternal(id, updateRiskRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> putRiskInternal(Long id, RiskData updateRiskRq) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "putRisk"));
        if (updateRiskRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateRiskRq", "putRisk"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/risks/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(updateRiskRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить список всех записей справочника рисков.
     * GET /insurance-service/v1/dict/risks
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод данных справочника
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<RiskData> riskList(Pageable pageable, long timeout) throws RestClientException {
        return riskList(pageable).get(timeout);
    }

    /**
     * Получить список всех записей справочника рисков. асинхронно
     * GET /insurance-service/v1/dict/risks
     *
     * @return Постраничный вывод данных справочника
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<RiskData>> riskList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(riskListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<RiskData>>> riskListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/dict/risks"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<RiskData>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
