/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import java.time.LocalDate;
import ru.softlab.efr.services.insurance.model.rest.SharesDataRs;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class ShareClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public ShareClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Получить список акций с котировками
     * GET /insurance-service/v1/share
     *
     * @param strategyId Идентификатор стратегии (required)
     * @param startDate Дата с которой требуется получить котировки (optional)
     * @param endDate Дата по которую требуется получить котировки (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Список акций с котрировками.
     * @throws RestClientException в случае неудачи
    */
    public SharesDataRs getShare(Long strategyId, LocalDate startDate, LocalDate endDate, long timeout) throws RestClientException {
        return getShare(strategyId, startDate, endDate).get(timeout);
    }

    /**
     * Получить список акций с котировками асинхронно
     * GET /insurance-service/v1/share
     *
     * @param strategyId Идентификатор стратегии (required)
     * @param startDate Дата с которой требуется получить котировки (optional)
     * @param endDate Дата по которую требуется получить котировки (optional)
     * @return Список акций с котрировками.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<SharesDataRs> getShare(Long strategyId, LocalDate startDate, LocalDate endDate) throws RestClientException {
        return new ClientRestResult<>(getShareInternal(strategyId, startDate, endDate), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<SharesDataRs>> getShareInternal(Long strategyId, LocalDate startDate, LocalDate endDate) throws RestClientException {
        if (strategyId == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "strategyId", "getShare"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/share"));

        if (strategyId != null)
            uriBuilder.param("strategyId", strategyId);
        if (startDate != null)
            uriBuilder.param("startDate", DateParser.format(startDate));
        if (endDate != null)
            uriBuilder.param("endDate", DateParser.format(endDate));
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<SharesDataRs>(){});
    }

    /**
     * Запустить репликацию котировок акций
     * GET /insurance-service/v1/share/load
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void loadShare(long timeout) throws RestClientException {
        return loadShare().get(timeout);
    }

    /**
     * Запустить репликацию котировок акций асинхронно
     * GET /insurance-service/v1/share/load
     *
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> loadShare() throws RestClientException {
        return new ClientRestResult<>(loadShareInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> loadShareInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/share/load"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
