/*
 * API микросервиса управления договорами страхования
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.insurance;

import ru.softlab.efr.services.insurance.model.rest.CreateUserTemplateResponse;
import ru.softlab.efr.services.insurance.model.rest.ErrorModel;
import ru.softlab.efr.services.insurance.model.rest.UserTemplateData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением insurance-service
 **/
@Component
public class UserTemplatesClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public UserTemplatesClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "insurance-service";
    }


    /**
     * Создать запись в справочнике пользовательских шаблонов документов
     * POST /insurance-service/v1/user-templates
     *
     * @param createUserTemplateRq Запрос создания записи в справочнике пользовательских шаблонов документов (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Идентификатор созданной записи в справочнике.
     * @throws RestClientException в случае неудачи
    */
    public CreateUserTemplateResponse createUserTemplate(UserTemplateData createUserTemplateRq, long timeout) throws RestClientException {
        return createUserTemplate(createUserTemplateRq).get(timeout);
    }

    /**
     * Создать запись в справочнике пользовательских шаблонов документов асинхронно
     * POST /insurance-service/v1/user-templates
     *
     * @param createUserTemplateRq Запрос создания записи в справочнике пользовательских шаблонов документов (required)
     * @return Идентификатор созданной записи в справочнике.
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<CreateUserTemplateResponse> createUserTemplate(UserTemplateData createUserTemplateRq) throws RestClientException {
        return new ClientRestResult<>(createUserTemplateInternal(createUserTemplateRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<CreateUserTemplateResponse>> createUserTemplateInternal(UserTemplateData createUserTemplateRq) throws RestClientException {
        if (createUserTemplateRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "createUserTemplateRq", "createUserTemplate"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/user-templates"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(createUserTemplateRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<CreateUserTemplateResponse>(){});
    }

    /**
     * Удалить сущность пользовательского шаблона документов
     * DELETE /insurance-service/v1/user-templates/{id}
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteUserTemplate(Long id, long timeout) throws RestClientException {
        return deleteUserTemplate(id).get(timeout);
    }

    /**
     * Удалить сущность пользовательского шаблона документов асинхронно
     * DELETE /insurance-service/v1/user-templates/{id}
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteUserTemplate(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteUserTemplateInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteUserTemplateInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteUserTemplate"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/user-templates/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Получить сущность пользовательского шаблона документов
     * GET /insurance-service/v1/user-templates/{id}
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Данные сущности пользовательского шаблона документов
     * @throws RestClientException в случае неудачи
    */
    public UserTemplateData getUserTemplateById(Long id, long timeout) throws RestClientException {
        return getUserTemplateById(id).get(timeout);
    }

    /**
     * Получить сущность пользовательского шаблона документов асинхронно
     * GET /insurance-service/v1/user-templates/{id}
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @return Данные сущности пользовательского шаблона документов
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<UserTemplateData> getUserTemplateById(Long id) throws RestClientException {
        return new ClientRestResult<>(getUserTemplateByIdInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<UserTemplateData>> getUserTemplateByIdInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getUserTemplateById"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/user-templates/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<UserTemplateData>(){});
    }

    /**
     * Получить контент документа
     * GET /insurance-service/v1/user-templates/{id}/content
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Контент файла
     * @throws RestClientException в случае неудачи
    */
    public byte[] getUserTemplateContent(Long id, long timeout) throws RestClientException {
        return getUserTemplateContent(id).get(timeout);
    }

    /**
     * Получить контент документа асинхронно
     * GET /insurance-service/v1/user-templates/{id}/content
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @return Контент файла
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<byte[]> getUserTemplateContent(Long id) throws RestClientException {
        return new ClientRestResult<>(getUserTemplateContentInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<byte[]>> getUserTemplateContentInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getUserTemplateContent"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/user-templates/{id}/content")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<byte[]>(){});
    }

    /**
     * Получить список пользовательских шаблонов документов (ТЗ, п.1.2)
     * GET /insurance-service/v1/user-templates
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<UserTemplateData> getUserTemplateList(Pageable pageable, long timeout) throws RestClientException {
        return getUserTemplateList(pageable).get(timeout);
    }

    /**
     * Получить список пользовательских шаблонов документов (ТЗ, п.1.2) асинхронно
     * GET /insurance-service/v1/user-templates
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<UserTemplateData>> getUserTemplateList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(getUserTemplateListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<UserTemplateData>>> getUserTemplateListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/user-templates"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<UserTemplateData>>(){});
    }

    /**
     * Обновить сущность пользовательского шаблона документов
     * PUT /insurance-service/v1/user-templates/{id}
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @param updateUserTemplateRequest Запрос обновления сущности пользовательского шаблона документов (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void updateUserTemplate(Long id, UserTemplateData updateUserTemplateRequest, long timeout) throws RestClientException {
        return updateUserTemplate(id, updateUserTemplateRequest).get(timeout);
    }

    /**
     * Обновить сущность пользовательского шаблона документов асинхронно
     * PUT /insurance-service/v1/user-templates/{id}
     *
     * @param id Идентификатор сущности пользовательского шаблона документов (required)
     * @param updateUserTemplateRequest Запрос обновления сущности пользовательского шаблона документов (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> updateUserTemplate(Long id, UserTemplateData updateUserTemplateRequest) throws RestClientException {
        return new ClientRestResult<>(updateUserTemplateInternal(id, updateUserTemplateRequest), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> updateUserTemplateInternal(Long id, UserTemplateData updateUserTemplateRequest) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "updateUserTemplate"));
        if (updateUserTemplateRequest == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updateUserTemplateRequest", "updateUserTemplate"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/insurance-service/v1/user-templates/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(updateUserTemplateRequest);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
